.idea
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.pyc
*.vscode
*__pycache__
*.pytest_cache*
*.log

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
library-editor.log

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

scripts/modified.txt